/*font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: rgb(110, 34, 185);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(248, 185, 224);
}
h1 {
  font-size: 70px;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
h1,
h3,
h4,
h5,
h6 {
  color: blueviolet;
  font-family: var(--heading-font-family);
  font-size: 80px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.hero p {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.content-container {
  padding: 140px 20px;
}
.content h1 {
  font-size: 55px;
  line-height: 80px;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
  line-height: 1.5;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content {
  margin: 40px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  padding: 15px 25px;
}
.btn-project {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 25px;
}
.project-description {
  padding: 120px 60px;
}
img {
  border-radius: 10px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 35px;
  }
}
