/*font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: rgb(110, 34, 185);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(248, 185, 224);
}
h1 {
  font-size: 70px;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h1,
h3,
h4,
h5,
h6 {
  color: blueviolet;
  font-family: var(--heading-font-family);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.hero p {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.content-container {
  padding: 80px 20px;
}
.content h1 {
  font-size: 55px;
  line-height: 80px;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
  line-height: 1.5;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content {
  margin: 40px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  padding: 15px 25px;
}
.btn-project {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 25px;
}
.project-description {
  padding: 120px 60px;
}
nav {
  padding: 20px 0;
}
.pix {
  max-width: 100px;
  max-height: 60px;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272141;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active {
  color: red;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
  margin-bottom: 50px;
}
footer .email-link {
  text-decoration: none;
  color: #080808;
  font-size: 24px;
  margin-bottom: 60px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 13px;
  border-radius: 50%;
  font-size: 18px;
}
img {
  border-radius: 10px;
}

h3 {
  font-size: 50px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  hero {
    padding: 80px 20px;
  }
  hero p {
    font-size: 25px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    text-align: center;
    font-size: 30px;
  }
  .pix {
    max-height: 30px;
    max-width: 30px;
  }
  footer .contact-box {
    padding: 25px;
    font-size: 15px;
  }
  .email-link {
    padding: 10px;
  }
  .btn-branding {
    padding: 5px;
  }
}
